<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person page</title>
</head>
<body>
    <p th:text="${person.getId()}">VALUE</p>
    <p th:text="${person.getName()}">VALUE</p>
    <p th:text="${person.getSurname()}">VALUE</p>
    <p th:text="${person.getAge()}">VALUE</p>
    <p th:text="${person.getEmail()}">VALUE</p>
    <p>
        <a href="/people">see all people</a> //
        <a th:href="@{/people/{id}/edit(id=${person.getId()})}" th:text="'edit this person'">user</a>
    </p>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="DELETE PERSON"/>
    </form>
</body>
</html>